.modal {
  @include flex(column, center, center);
  gap: 1rem;
  font-size: 2rem;
  margin-top: 6rem;
  background-color: $yellow;
  padding: 3rem;
  border-radius: 10px;

  button {
    position: relative;
    background-color: $blue;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: $red;
    }

    &:active {
      top: 2px;
    }
  }
}